.color1{
    background-color: yellow;
}
.color2{
    background-color: cyan;
}
.caja1{
    width: 250px;
    border-color: gray;
    border-width: 3px;
    border-style: solid;
    margin: 4%;
    padding-left: 5%;
    padding-right: 5%;
}