[id="1"]{
    color: red;
    text-decoration: none;
}
[id="2"]{
    color: white;
    background-color: red;
    text-decoration: none;
}
[id="3"]{
    color: grey;
   
}
[id="4"]{
    color: red;
}
[id="5"]{
    color: red;
    text-decoration: none;
}